*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tudoo{
    border: 1px solid black;
    background-image: linear-gradient(-0.2turn,   orange, green); 
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 100%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:green;
    color: white;
    
}
input{
    font-size: 15px;
}
textarea{
    font-size: 15px;
}
label{
   padding: 5px;
   
}

.cima{

    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}
.primeira{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 51px;
    text-align: center;
}
.titulo h1{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 51px;
    padding-top: 50px;
    font-size: 20px;
}
.estudante{
    margin-left: 73px;
    margin-top: 20px;
}
.estudante input{
    padding: 15px;
     border-radius: 8px;
      border: none;
       width: 753px;
       outline: none;

    
}
.estudante label{
    
}

.tudo{ 
    padding-top: 20px;
    display: flex;
   
   margin-left: 73px;
    text-align: center;
    
}
.aula select{
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.situacao select{
    padding: 8px 15px;
    margin-left: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.turma select{
    padding: 8px 15px;
    margin-left: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}

   

.prof{
    
    margin-left: 73px;
    margin-top: 15px;
    
}
.prof input{
    padding: 15px;
    border-radius: 8px;
     border: none;
      width: 753px;
      outline: none;
}



.descricao{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 51px;
    outline: none;
   
    padding-top: 20px;
}
.descricao textarea{
    outline: none;
    border: none;
    border-radius: 8px;
}
.encaminhamento{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 51px;
   
    padding-top: 20px;
}
.encaminhamento textarea{
    outline: none;
    border: none;
    border-radius: 8px;
}
.recebimento{
   margin-left: 73px;
   margin-top: 15px;
}
.responsavel{
    margin-left: 73px;
    margin-top: 15px;
    
}
.responsavel input{
    padding: 15px;
     border-radius: 8px;
      border: none;
       width: 753px;
       outline: none;

    
}
.data{
    margin-top: 15px;
    margin-left: 73px;

}
.data input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.buton{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 51px;
    padding-top: 20px;
    
}
.buton button{
   background-color: rgb(255, 123, 0);
   color: white;
   padding: 10px 25px;
   border-radius: 20px;
   cursor: pointer;


}
.nada{
    margin-top: 20px;
}